body {
  background-image: url("images/green.jpg");
  background-size: 100%;
  color: #fff;
  font-family: "Ubuntu", sans-serif;
}
.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}
.head-info {
  font-size: 30px;
  margin: 20px auto auto 20px;
}
.time-date-weather {
  color: #696969;
}
.main-info {
  text-align: center;
}
.search-form,
.submit-button-form {
  background: #fff;
  border: 0;
  border-radius: 5%;
  color: #696969;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 100%;
  padding: 20px;
  text-align: center;
}
.search-form {
  width: 20%;
}
.submit-button-form {
  width: 10%;
}
.submit-button-form:hover {
  cursor: pointer;
}
.city {
  color: #696969;
}
.foot-info {
  text-align: center;
}
.links {
  color: #696969;
}
